<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="main" value="https://nuget.pkg.github.com/calq-framework/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <main>
      <add key="Username" value="stableflow" />
      <add key="ClearTextPassword" value="${MAIN_NUGET_PAT}" />
    </main>
  </packageSourceCredentials>
</configuration>
